@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Cairo", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #3b82f6;
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-sans);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@media print {
  body * {
    visibility: hidden;
  }
  #invoice-print, #invoice-print * {
    visibility: visible;
  }
  #invoice-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    padding: 5mm;
  }
  nav, header, button {
    display: none !important;
  }
}
